<template>
    <nav class="navbar navbar-expand-md navbar-dark nav-pills">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#headerNavbar"
                aria-controls="headerNavbar" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="headerNavbar">
            <ul class="navbar-nav">
                <li class="nav-item text-center">
                    <nuxt-link to="/" class="nav-link d-flex flex-row" active-class="active" exact>
                        <i class="fas fa-home"></i>
                        خانه
                    </nuxt-link>
                </li>
                <li class="nav-item text-center">
                    <nuxt-link to="/products" class="nav-link d-flex flex-row" active-class="active" exact>
                        <i class="fas fa-store"></i>
                        محصولات
                    </nuxt-link>
                </li>
                <li class="nav-item text-center">
                    <nuxt-link to="/about-us" class="nav-link d-flex flex-row" active-class="active" exact>
                        <i class="fas fa-users"></i>
                        درباره ما
                    </nuxt-link>
                </li>
                <li class="nav-item text-center">
                    <nuxt-link to="/contact-us" class="nav-link d-flex flex-row" active-class="active" exact>
                        <i class="fas fa-phone-square"></i>
                        تماس با ما
                    </nuxt-link>
                </li>
                <li class="nav-item text-center">
                    <nuxt-link to="/faq" class="nav-link d-flex flex-row" active-class="active" exact>
                        <i class="fas fa-question-circle"></i>
                        سوالات متداول
                    </nuxt-link>
                </li>
            </ul>
        </div>
    </nav>
</template>

<script>
    export default {
        name: "HeaderLinks"
    }
</script>

<style scoped>

</style>