<template>
    <div class="container-fluid rtl nasajit-bg-color">
        <div class="container-fluid nasajit-header p-2">
            <div class="row">
                <div class="col-md-3 text-center text-lg-left">
                    <nuxt-link to="/">
                        <div class="d-flex flex-row align-items-center">
                            <img alt="نساجیت" src="/assets/images/nasajit-n-logo.png" width="60" height="43">
                            <div class="d-flex flex-column ml-2">
                                <p class="nasajit-title">نساجیت</p>
                                <p class="nasajit-title-description">بازار آنلاین پارچه های مبلی و پرده</p>
                            </div>
                        </div>
                    </nuxt-link>
                </div>
                <div class="col-md-7 col-10 d-flex align-items-center flex-grow-1">
                    <header-links/>
                </div>
                <div class="col-md-2 col-2 d-flex align-items-center justify-content-end" v-if="!isAuth">
                    <nuxt-link to="/account/login" class="btn btn-outline-light mr-1 nasajit-border">ورود</nuxt-link>
                    <nuxt-link to="/account/register" class="btn btn-outline-light mr-1 nasajit-border">عضویت
                    </nuxt-link>
                </div>
                <div class="col-md-2 col-2 d-flex align-items-center justify-content-end" v-else>
                    <button class="btn btn-outline-light nasajit-border d-flex flex-row align-items-center"
                            @click.prevent="logout">
                        <i class="fas fa-sign-out-alt d-none d-md-block mr-2"></i>
                        <span>خروج</span>
                    </button>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import HeaderLinks from "./HeaderLinks";

    export default {
        name: "TopHeader",
        components: {HeaderLinks},
        computed: {
            isAuth() {
                return this.$store.getters['auth/isAuth'];
            }
        },
        methods: {
            logout() {
                this.$store.dispatch('auth/logOut');
            }
        }
    }
</script>

<style scoped>

</style>