<template>
    <div class="nasajit-border shadow-sm nasajit-product-attribute m-2 d-flex justify-content-start align-items-center">
        <div class="nasajit-border bg-secondary text-center p-1">{{attribute}}</div>
        <span class="ml-2 d-inline-block pr-2 pl-2">
            {{value}}
            </span>
    </div>
</template>

<script>
    export default {
        name: "ProductAttribute",
        props: ['attribute', 'value']
    }
</script>

<style scoped>

</style>