<template>
    <div class="card nasajit-border shadow">
        <div class="row flex-column p-4 text-center">
            <div class="pt-3 d-flex flex-row align-items-center justify-content-center">
                <i class="fas fa-phone-square fa-2x pr-2"></i>
                <h2>ارتباط با واحد فروش</h2>
            </div>
            <hr class="w-75">
            <div class="row">
                <div class="col-sm-6">
                    <i class="fas fa-user pr-2"></i>
                    <span>
                    آقای جواد منتظری: 09162510024
                    </span>
                </div>
                <div class="col-sm-6">
                    <i class="fas fa-user pr-2"></i>
                    <span>
                    خانم فخرالسادات سیدسالاری: 09162510026
                    </span>
                </div>
            </div>
        </div>
        <div class="row flex-column p-4 text-center">
            <div class="pt-3 d-flex flex-row align-items-center justify-content-center">
                <i class="fa fa-at fa-2x pr-2"></i>
                <h2>نساجیت در رسانه های اجتماعی</h2>
            </div>
            <hr class="w-75">
            <div class="row">
                <div class="col-sm-6">
                    <a href="https://t.me/Nasajit" class="btn btn-manatile mb-2">
                        <i class="fab fa-telegram fa-2x"></i>
                        <span>
                        عضویت در کانال تلگرام
                        </span>
                    </a>
                </div>
                <div class="col-sm-6">
                    <a href="https://www.instagram.com/nasajit/" class="btn btn-manatile">
                        <i class="fab fa-instagram fa-2x"></i>
                        <span>
                        دنبال کردن صفحه اینستاگرام
                        </span>
                    </a>
                </div>
            </div>
        </div>
        <div class="row flex-column p-4 text-center">
            <div class="pt-3 d-flex flex-row align-items-center justify-content-center">
                <i class="fas fa-phone fa-2x pr-2"></i>
                <h2>تلفن تماس دفتر</h2>
            </div>
            <hr class="w-75">
            <p class="font-weight-bold">
                03538342300-2
            </p>
        </div>
        <div class="row flex-column p-4 text-center">
            <div class="pt-3 d-flex flex-row align-items-center justify-content-center">
                <i class="fas fa-map-marker-alt fa-2x pr-2"></i>
                <h2>آدرس</h2>
            </div>
            <hr class="w-75">
            <div class="row d-flex flex-column align-items-center p-4">
               <p class="text-left">
                   یزد - صفاییه - خیابان منتظران فرج - میدان مادر - کوچه ابوطالب - میدان فیضیه - بن بست شهید عباس حسینی - پلاک 90 - ساختمان نساجیت
               </p>
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d847.262550517883!2d54.37024282921541!3d31.850849137996434!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x0!2zMzHCsDUxJzAzLjEiTiA1NMKwMjInMTQuOCJF!5e0!3m2!1sen!2s!4v1576314378719!5m2!1sen!2s" width="100%" height="450" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: "index",
        head: {
            title: "تماس با نساجیت - بازار آنلاین پارچه مبلی"
        },
    }
</script>

<style scoped>

</style>