<template>
    <div class="shadow nasajit-border p-2 mb-5">
        <underline-title title="عضویت در نساجیت"
                         description="با عضویت در نساجیت می توانید از تمامی امکانات وب سایت استفاده کنید. عضویت حتی یک دقیقه هم طول نخواهد کشید! خیالتان راحت ..."
                         />
        <div class="m-5 mx-auto auth-form">
            <form class="login-form" @submit.prevent="submitForm">
                <div class="form-element mt-3">
                    <input type="text" v-model="firstName" class="input-field form-control nasajit-border" @blur="$v.firstName.$touch()"
                           placeholder="نام">
                </div>
                <input-error :inputErrors="firstNameErrors"/>
                <div class="form-element mt-3">
                    <input type="text" v-model="lastName" class="input-field form-control nasajit-border" @blur="$v.lastName.$touch()"
                           placeholder="نام خانوادگی">
                </div>
                <input-error :inputErrors="lastNameErrors"/>
                <div class="form-element mt-3">
                    <input type="text" v-model="phone" class="input-field form-control nasajit-border" @blur="$v.phone.$touch()"
                           placeholder="شماره موبایل">
                </div>
                <input-error :inputErrors="phoneErrors"/>
                <div class="form-element mt-3">
                    <input type="password" v-model="password" class="input-field form-control nasajit-border" @blur="$v.password.$touch()"
                           placeholder="رمز عبور">
                </div>
                <input-error :inputErrors="passwordErrors"/>
                <div class="form-element mt-3">
                    <input type="password" v-model="repeatPassword" class="input-field form-control nasajit-border" @blur="$v.repeatPassword.$touch()"
                           placeholder="تکرار رمز عبور">
                </div>
                <input-error :inputErrors="repeatPasswordErrors"/>
                <button type="submit" class="btn mt-3 btn-block btn-success nasajit-border" @click.prevent="submitForm" :disabled="disabled">عضویت</button>
            </form>
            <div class='d-flex flex-row align-items-center justify-content-center mt-3'>
                <span>حساب کاربری دارید؟</span>
                <nuxt-link class="nasajit-border btn btn-secondary link ml-2" to="/account/login">
                    ورود
                </nuxt-link>
            </div>
        </div>
    </div>
</template>

<script>
    import UnderlineTitle from "../../../components/titles/UnderlineTitle";
    import InputError from "../../../components/InputError";
    import {required, integer, minLength, maxLength, sameAs} from 'vuelidate/lib/validators'

    export default {
        name: "index",
        head: {
            title: "عضویت در نساجیت - بازار آنلاین پارچه مبلی"
        },
        components: {InputError, UnderlineTitle},
        data() {
            return {
                firstName: '',
                lastName: '',
                phone: '',
                password: '',
                repeatPassword: '',
            }
        },
        validations: {
            firstName: {
                required
            },
            lastName: {
                required
            },
            phone: {
                required,
                integer,
                minLength: minLength(11),
                maxLength: maxLength(11)
            },
            password: {
                required,
                minLength: minLength(6)
            },
            repeatPassword: {
                required,
                sameAsPassword: sameAs('password')
            }
        },
        computed: {
            disabled(){
                return this.$v.$invalid;
            },
            firstNameErrors() {
                const errors = [];
                if (!this.$v.firstName.$dirty) return errors;
                !this.$v.firstName.required && errors.push('لطفا نام خود را وارد کنید');
                return errors;
            },
            lastNameErrors() {
                const errors = [];
                if (!this.$v.lastName.$dirty) return errors;
                !this.$v.lastName.required && errors.push('لطفا نام خانوادگی خود را وارد کنید');
                return errors;
            },
            phoneErrors() {
                const errors = [];
                if (!this.$v.phone.$dirty) return errors;
                (!this.$v.phone.required || !this.$v.phone.integer || !this.$v.phone.minLength || !this.$v.phone.maxLength) && errors.push('لطفا یک شماره موبایل معتبر وارد کنید');
                return errors;
            },
            passwordErrors() {
                const errors = [];
                if (!this.$v.password.$dirty) return errors;
                !this.$v.password.required && errors.push('لطفا رمز عبور خود را وارد کنید');
                !this.$v.password.minLength && errors.push('رمز عبور باید حداقل 6 کاراکتر باشد');
                return errors;
            },
            repeatPasswordErrors() {
                const errors = [];
                if (!this.$v.repeatPassword.$dirty) return errors;
                !this.$v.repeatPassword.required && errors.push('لطفا تکرار رمز عبور را وارد کنید');
                !this.$v.repeatPassword.sameAsPassword && errors.push('رمزهای عبور وارد شده یکسان نیستند');
                return errors;
            }
        },
        methods: {
            submitForm() {
                this.$store.dispatch('auth/registerRequest', {
                    firstName: this.firstName,
                    lastName: this.lastName,
                    phone: this.phone,
                    password: this.password,
                    repeatPassword: this.repeatPassword,
                })
            }
        }
    }
</script>

<style scoped>

</style>