<template>
    <div>
        <button type="button" class="btn btn-outline-info nasajit-border btn-block" data-toggle="modal"
                :data-target="'#orderDetails'+ order.id">
            <i class="fas fa-eye"></i>
            نمایش
        </button>
        <div class="modal fade" :id="'orderDetails'+ order.id" tabindex="-1" role="dialog">
            <div class="modal-dialog modal-xl" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" >جزئیات سفارش</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <table class="table table-bordered table-responsive-sm table-hover text-center mt-4">
                            <thead class="nasajit-border text-center">
                            <tr class="text-center">
                                <th scope="col" class="text-center">تصویر محصول</th>
                                <th scope="col" class="text-center">نام محصول</th>
                                <th scope="col" class="text-center">قیمت یک متر</th>
                                <th scope="col" class="text-center">متراژ خریداری شده</th>
                                <th scope="col" class="text-center">قیمت کل</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr v-for="(item,index) in order.items" :key="item.id">
                                <td class="align-middle"><img :src="item.product.base_image.small_image_url"></td>
                                <td class="align-middle important-cell">{{item.name}}</td>
                                <td class="align-middle">{{item.formated_price}}</td>
                                <td class="align-middle">{{item.qty_ordered}}</td>
                                <td class="align-middle">{{item.formated_grant_total}}</td>
                            </tr>
                            </tbody>
                        </table>

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">بستن</button>
                        <button @click.prevent="$emit('addToCart',order.items)" type="button" class="btn btn-success">سفارش مجدد</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: "OrderDetails",
        props:['order']
    }

</script>

<style scoped>

</style>