<template>
    <div class="card mb-3 nasajit-border shadow-sm">
        <div class="row no-gutters d-flex flex-column">
            <div class="ml-2 mt-1">
                <i @click.prevent="removeFromCart" class="fas fa-times-circle text-danger"></i>
                <span class="nasajit-cart-item-title">{{title.substr(0,30)}}...</span>
            </div>
            <div class="d-flex flex-row">
                <div class="col-md-4 d-flex align-items-center p-1">
                    <img :src="image" class="card-img nasajit-border p-0 shadow-sm">
                </div>
                <div class="col-md-8 p-0">
                    <div class="card-body p-1">
                        <div class="d-flex justify-content-between">
                            <div>
                                <div class="nasajit-cart-item-single-price d-flex flex-column">
                                    <span>قیمت یک متر:</span>
                                    <span>{{formatted_price}}</span>
                                </div>
                                <div class="nasajit-cart-item-total-price d-flex flex-column">
                                    <span>قیمت کل:</span>
                                    <span>{{totalPrice}} تومان</span>
                                </div>
                            </div>
                            <div class="d-flex flex-column align-items-center">
                                <i @click.prevent="changeCount('add')"
                                   class="fas fa-plus-circle text-success i-nasajit-size"></i>
                                <span class="font-weight-bold">{{count}} متر</span>

                                <i @click.prevent="changeCount('minus')"
                                   class="fas fa-minus-circle text-danger i-nasajit-size"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


        </div>
    </div>
</template>

<script>
    export default {
        name: "CartItem",
        props: ['id', 'title', 'count', 'image', 'price', 'formatted_price'],
        computed: {
            totalPrice() {
                return this.formatNumber(parseFloat(this.count * this.price));
            }
        },
        methods: {
            changeCount(type) {
                this.$store.commit('cart/updateCart', {
                    id: this.id,
                    quantity: this.count,
                    type: type
                })
            },
            removeFromCart() {
                this.$store.dispatch('cart/removeFromCart', {
                    id: this.id
                })
            },
            formatNumber(num) {
                return num.toString().replace(/(\d)(?=(\d{3})+(?!\d))/g, '$1,')
            }
        }
    }
</script>

<style scoped>

</style>