<template>
    <div id="left-nav-sticky" class="card nasajit-border shadow">
        <div class="card-header card-header-nasajit text-center nasajit-bg-color text-white">
            سبد خرید
        </div>
        <div class="card-body p-1">
            <div v-if="cartItems.length === 0 || cartItems === 0" class="alert alert-danger nasajit-border mt-4">سبد خرید شما خالی است
            </div>
            <div :style="cardBodyStyle" v-else>
                <cart-item
                        v-for="cartItem in cartItems"
                        :key="cartItem.id"
                        :id="cartItem.id"
                        :count="cartItem.quantity"
                        :title="cartItem.name"
                        :image="cartItem.product.base_image.medium_image_url"
                        :price="cartItem.price"
                        :formatted_price="cartItem.formated_price"
                />
            </div>
            <div class="d-flex flex-column align-content-end">
                <hr>
                <div class="d-flex flex-column justify-content-center">
                    <div class="nasajit-total-price text-center nasajit-border mb-2">
                        <span>مجموع سبد خرید:</span>
                        <span>{{cartTotalPrice}}</span>
                    </div>
                    <div class="d-flex flex-row align-items-center justify-content-between text-success">
                        <i class="fas fa-cart-plus fa-2x"></i>
                        <button @click.prevent="submitCart" type="button"
                                class="btn btn-success nasajit-border" :disabled="!cartItems">
                            ثبت سریع و نهایی سازی سفارش
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import CartItem from "./CartItem";

    export default {
        name: "LeftSidebar",
        components: {CartItem},
        data() {
            return {
                phone: '',
                cardBodyStyle: ''
            }
        },
        computed: {
            cartItems() {
                return this.$store.getters['cart/getCartProducts'];
            },
            cartTotalPrice() {
                return this.$store.getters['cart/getCartTotalPrice'];
            },
            isAuth() {
                return this.$store.getters['auth/isAuth'];
            }
        },
        methods: {
            submitCart() {
                this.$store.dispatch('cart/saveOrder');
            }
        },
        mounted() {
            this.$store.dispatch('cart/getCartDetails');
        },
        watch: {
            cartItems(newItems) {
                if (newItems.length > 3) {
                    this.cardBodyStyle = {
                        'overflow-y': 'scroll',
                        height: '500px'
                    }
                } else {
                    this.cardBodyStyle = '';
                }
            }
        }
    }

</script>

<style scoped>

</style>