<template>
    <div class="shadow nasajit-border p-2 mb-5">
        <div class="alert alert-danger nasajit-border">
            برای استفاده از امکانات سایت شما حتما باید وارد حساب کاربری خود شوید یا ثبت نام کنید
        </div>
        <underline-title title="ورود به حساب کاربری نساجیت"
                         description="برای استفاده از امکانات سایت لطفا وارد حساب کاربری خود شوید"
        />
        <div class="m-5 mx-auto auth-form">
            <form action="#" class="login-form" @submit.prevent="submitForm">

                <div class="form-element mt-3">
                    <input type="text" v-model="phone" class="input-field form-control nasajit-border"
                           @blur="$v.phone.$touch()"
                           placeholder="شماره موبایل">
                </div>
                <input-error :inputErrors="phoneErrors"/>
                <div class="form-element mt-3">
                    <input type="password" v-model="password" class="input-field form-control nasajit-border"
                           @blur="$v.password.$touch()"
                           placeholder="رمز عبور">
                    <input-error :inputErrors="passwordErrors"/>
                </div>
                <div class="btn-wrapper mt-3 d-flex flex-column justify-content-center align-items-center">
                    <button type="submit" class="btn btn-block btn-success nasajit-border" :disabled="disabled">ورود
                    </button>
                    <div class='d-flex flex-row align-items-center justify-content-center mt-3'>
                        <span> حساب کاربری ندارید؟</span>
                        <nuxt-link class="nasajit-border btn btn-secondary link ml-2" to="/account/register">
                            عضویت
                        </nuxt-link>
                    </div>

                </div>
            </form>
            <div class='d-flex flex-row align-items-center justify-content-center mt-3'>
                <span> رمز عبور خود را فراموش کرده اید؟</span>
                <button class="nasajit-border btn btn-light link ml-2" @click.prevent="showResetPassword = !showResetPassword">
                    بازیابی رمز عبور
                </button>
            </div>
            <div class="alert alert-danger w-100 mt-3 text-center" role="alert" v-if="showResetPassword">
                جهت بازیابی رمز عبور خود لطفا عبارت "بازیابی رمز عبور" را به شماره 09366074430 ارسال نمایید
            </div>
        </div>

    </div>
</template>

<script>
    import UnderlineTitle from "../../../components/titles/UnderlineTitle";
    import InputError from "../../../components/InputError";
    import {required, integer, minLength, maxLength} from 'vuelidate/lib/validators'

    export default {
        name: "index",
        components: {InputError, UnderlineTitle},
        head: {
            title: "ورود به حساب کاربری در نساجیت - بازار آنلاین پارچه مبلی"
        },
        data() {
            return {
                phone: '',
                password: '',
                showResetPassword: false
            }
        },
        validations: {
            phone: {
                required,
                integer,
                minLength: minLength(11),
                maxLength: maxLength(11)
            },
            password: {
                required,
                minLength: minLength(6)
            }
        },
        computed: {
            disabled(){
                return this.$v.$invalid;
            },
            phoneErrors() {
                const errors = [];
                if (!this.$v.phone.$dirty) return errors;
                (!this.$v.phone.required || !this.$v.phone.integer || !this.$v.phone.minLength || !this.$v.phone.maxLength) && errors.push('لطفا یک شماره موبایل معتبر وارد کنید');
                return errors;
            },
            passwordErrors() {
                const errors = [];
                if (!this.$v.password.$dirty) return errors;
                !this.$v.password.required && errors.push('لطفا رمز عبور خود را وارد کنید');
                !this.$v.password.minLength && errors.push('رمز عبور باید حداقل 6 کاراکتر باشد');
                return errors;
            },
        },
        methods: {
            submitForm() {
                this.$store.dispatch('auth/loginRequest', {
                    phone: this.phone,
                    password: this.password,
                })
            }
        }
    }
</script>

<style scoped>

</style>