<template>
    <div class="row page-badges d-flex flex-row p-2">
        <nuxt-link to="/" class="nasajit-badge nasajit-border" active-class="nasajit-badge-active" exact>
               خانواده محصولات
        </nuxt-link>
        <nuxt-link to="/products" class="nasajit-badge nasajit-border" active-class="nasajit-badge-active" exact>
            همه محصولات
        </nuxt-link>
        <nuxt-link to="/products/new-products" class="nasajit-badge nasajit-border" active-class="nasajit-badge-active" exact>
               جدیدترین محصولات
        </nuxt-link>
        <nuxt-link to="/products/featured-products" class="nasajit-badge nasajit-border" active-class="nasajit-badge-active" exact>
               محبوب ترین محصولات
        </nuxt-link>
    </div>
</template>

<script>
    export default {
        name: "ProductBadges"
    }
</script>

<style scoped>

</style>