<template>
    <nav id="right-nav-sticky" class="nav flex-column text-center nasajit-border text-white nasajit-link shadow">
        <nuxt-link to="/" class="nav-link" active-class="active" exact>
            <i class="fas fa-store fa-2x"></i>
            <p>محصولات</p>
        </nuxt-link>
        <nuxt-link to="/products/sales" class="nav-link" active-class="active" exact>
            <i class="fas fa-percentage fa-2x"></i>
            <p> فروش ویژه</p>
        </nuxt-link>
        <nuxt-link to="/account/orders" class="nav-link" active-class="active">
            <i class="fas fa-shopping-cart fa-2x"></i>
            <p>سفارشات اخیر</p>
        </nuxt-link>
        <nuxt-link to="/account/favorites" class="nav-link" active-class="active">
            <i class="fas fa-heart fa-2x"></i>
            <p>علاقه مندی ها</p>
        </nuxt-link>
    </nav>
</template>

<script>
    export default {
        name: "RightSidebar"
    }
</script>

<style scoped>

</style>