<template>
    <div class="shadow nasajit-border p-2 mb-5">
        <product-badges/>
        <div class="row">
            <product-card1 v-for="product in products"
                           :id="product.id"
                           :key="product.id"
                           :image="product.base_image.medium_image_url"
                           :title="product.name"
                           :price="product.price"
                           :formatted_price="product.formated_price"
                           :formatted_special_price="product.formated_special_price"
                           :url="product.url_key"
            />
        </div>
    </div>
</template>
<script>
    import ProductBadges from "../../../components/badges/ProductBadges";
    import ProductCard1 from "../../../components/product-card/ProductCard1";

    export default {
        name: "index",
        head: {
            title: "محصولا جدید نساجیت - بازار آنلاین پارچه مبلی"
        },
        components: {ProductCard1, ProductBadges},
        fetch(context) {
            if (context.store.state.products.newProducts !== null) {
                return;
            }
            return context.app.$axios.$get('products?new=1&limit=9&sort=created_at&order=desc')
                .then((response) => {
                    context.store.commit('products/setNewProducts', response);
                });
        },
        computed: {
            products() {
                return this.$store.state.products.newProducts;
            }
        }
    }

</script>


<style scoped>

</style>