<template>
    <div class="nasajit-underline-title">
        <h2>{{title}}</h2>
        <hr class="w-100">
        <div v-html="description"></div>
    </div>
</template>

<script>
    export default {
        name: "UnderlineTitle",
        props: ['title', 'description']
    }
</script>

<style scoped>

</style>