<template>
    <div class="shadow nasajit-border p-2">
        <div v-if="favorites.length === 0" class="alert alert-danger m-2">هیچ محصولی در لیست علاقه مندی های شما وجود
            ندارد
        </div>
        <div class="row" v-else>
            <product-favorite v-for="favorite in favorites"
                              :key="favorite.id"
                              :product="favorite.product"
            />
        </div>
    </div>
</template>

<script>
    import ProductFavorite from "../../../components/product-card/ProductFavorite";

    export default {
        name: "index",
        middleware: 'auth',
        head: {
            title: "محصولات مورد علاقه - نساجیت - بازار آنلاین پارچه مبلی"
        },
        components: {ProductFavorite},
        computed: {
            isAuth() {
                return this.$store.getters['auth/isAuth'];
            },
            favorites() {
                return this.$store.state.products.favoriteProducts;
            }
        },
        fetch(context) {
            if (context.app.store.getters['auth/isAuth']) {
                return context.store.dispatch('products/getFavorites');
            }
        }
    }
</script>

<style scoped>

</style>