<template>
    <div class="shadow nasajit-border p-2 mb-5">
        <div class="row">
            <product-card1 v-if="products.length !== 0"
                           v-for="product in products"
                           :key="product.id"
                           :id="product.id"
                           :image="product.base_image.medium_image_url"
                           :title="product.name"
                           :price="product.price"
                           :formatted_price="product.formated_price"
                           :formatted_special_price="product.formated_special_price"
                           :url="product.url_key"
            />
            <div v-if="products.length === 0" class="container alert alert-danger m-5 text-center">
                هیچ نتیجه ای برای جستجوی شما پیدا نشد. لطفا با کلمات دیگری مجددا جستجو نمایید
            </div>
        </div>
    </div>
</template>

<script>
    import ProductCard1 from "../../../components/product-card/ProductCard1";

    export default {
        name: "index",
        watchQuery: true,
        head: {
            title: 'جستجوی محصولات'
        },
        components: {ProductCard1},
        async asyncData(context) {
            let query = encodeURIComponent(context.route.query.query.replace(' ', '-'));
            let findedProducts = await context.app.$axios.$get('products?search=' + query + '&limit=100');
            return {
                products: findedProducts.data
            }
        }
    }
</script>

<style scoped>

</style>