@font-face {
    font-family: IRANSans;
    font-style: normal;
    font-weight: 900;
    src: url('../fonts/iransans/eot/IRANSansWeb_Black.eot');
    src: url('../fonts/iransans/eot/IRANSansWeb_Black.eot?#iefix') format('embedded-opentype'), /* IE6-8 */ url('../fonts/iransans//woff2/IRANSansWeb_Black.woff2') format('woff2'), /* FF39+,Chrome36+, Opera24+*/ url('../fonts/iransans//woff/IRANSansWeb_Black.woff') format('woff'), /* FF3.6+, IE9, Chrome6+, Saf5.1+*/ url('../fonts/iransans//ttf/IRANSansWeb_Black.ttf') format('truetype');
}

@font-face {
    font-family: IRANSans;
    font-style: normal;
    font-weight: bold;
    src: url('../fonts/iransans/eot/IRANSansWeb_Bold.eot');
    src: url('../fonts/iransans/eot/IRANSansWeb_Bold.eot?#iefix') format('embedded-opentype'), /* IE6-8 */ url('../fonts/iransans//woff2/IRANSansWeb_Bold.woff2') format('woff2'), /* FF39+,Chrome36+, Opera24+*/ url('../fonts/iransans//woff/IRANSansWeb_Bold.woff') format('woff'), /* FF3.6+, IE9, Chrome6+, Saf5.1+*/ url('../fonts/iransans//ttf/IRANSansWeb_Bold.ttf') format('truetype');
}

@font-face {
    font-family: IRANSans;
    font-style: normal;
    font-weight: 500;
    src: url('../fonts/iransans/eot/IRANSansWeb_Medium.eot');
    src: url('../fonts/iransans/eot/IRANSansWeb_Medium.eot?#iefix') format('embedded-opentype'), /* IE6-8 */ url('../fonts/iransans//woff2/IRANSansWeb_Medium.woff2') format('woff2'), /* FF39+,Chrome36+, Opera24+*/ url('../fonts/iransans//woff/IRANSansWeb_Medium.woff') format('woff'), /* FF3.6+, IE9, Chrome6+, Saf5.1+*/ url('../fonts/iransans//ttf/IRANSansWeb_Medium.ttf') format('truetype');
}

@font-face {
    font-family: IRANSans;
    font-style: normal;
    font-weight: 300;
    src: url('../fonts/iransans/eot/IRANSansWeb_Light.eot');
    src: url('../fonts/iransans/eot/IRANSansWeb_Light.eot?#iefix') format('embedded-opentype'), /* IE6-8 */ url('../fonts/iransans//woff2/IRANSansWeb_Light.woff2') format('woff2'), /* FF39+,Chrome36+, Opera24+*/ url('../fonts/iransans//woff/IRANSansWeb_Light.woff') format('woff'), /* FF3.6+, IE9, Chrome6+, Saf5.1+*/ url('../fonts/iransans//ttf/IRANSansWeb_Light.ttf') format('truetype');
}

@font-face {
    font-family: IRANSans;
    font-style: normal;
    font-weight: 200;
    src: url("../fonts/iransans/eot/IRANSansWeb_UltraLight.eot");
    src: url('../fonts/iransans/eot/IRANSansWeb_UltraLight.eot?#iefix') format('embedded-opentype'), /* IE6-8 */ url('../fonts/iransans//woff2/IRANSansWeb_UltraLight.woff2') format('woff2'), /* FF39+,Chrome36+, Opera24+*/ url('../fonts/iransans//woff/IRANSansWeb_UltraLight.woff') format('woff'), /* FF3.6+, IE9, Chrome6+, Saf5.1+*/ url('../fonts/iransans//ttf/IRANSansWeb_UltraLight.ttf') format('truetype');
}

@font-face {
    font-family: IRANSans;
    font-style: normal;
    font-weight: normal;
    src: url("../fonts/iransans/eot/IRANSansWeb.eot");
    src: url('../fonts/iransans/eot/IRANSansWeb.eot?#iefix') format('embedded-opentype'), /* IE6-8 */ url('../fonts/iransans//woff2/IRANSansWeb.woff2') format('woff2'), /* FF39+,Chrome36+, Opera24+*/ url('../fonts/iransans//woff/IRANSansWeb.woff') format('woff'), /* FF3.6+, IE9, Chrome6+, Saf5.1+*/ url('../fonts/iransans//ttf/IRANSansWeb.ttf') format('truetype');
}

/*//////////////////////////////*/
body {
    font-family: IRANSans;
}

.nasajit-container {
    border-radius: 5px;
}

.nasajit-bg-color {
    background-color: #b82025;
}

.nasajit-header .nasajit-title {
    color: white;
    font-size: 20px;
}

.nasajit-header .nasajit-title-description {
    color: white;
    font-size: 18px;
}

.nasajit-header p {
    margin-bottom: 6px;
}

.nasajit-search {
    height: 100%;
    border-radius: 15px;
    border: none;
}

.nasajit-border {
    border-radius: 15px !important;
}

.card-header-nasajit {
    border-radius: 15px 15px 0 0 !important;
}

.nasajit-link a, .nasajit-link i {
    color: #b82025;
}

.nasajit-link a:hover, .nasajit-link i:hover {
    color: #b8202585;
    background-color: #f6f6f6;
}

.nasajit-link .active {
    background-color: #b820251f;
    border-right: 4px solid #b82025;
}

.nasajit-total-price {
    background: #757575;
    color: white;
    font-size: 14px;
    padding-top: 6px;
    padding-bottom: 6px;
}

.nasajit-cart-item-title {
    background-color: #B82025;
    color: white;
    padding: 2px 8px;
    border-radius: 15px;
    font-size: 12px;
    width: fit-content;
    margin: 5px;
}

.nasajit-cart-item-single-price {
    font-size: 10px;
}

.nasajit-cart-item-total-price {
    font-size: 12px;
}

.nav-link p {
    font-size: 12px;
}

.page-badges a {
    text-decoration: none;
    color: #000;
}

.nasajit-badge {
    font-size: 12px;
    border: 1px solid #b82025;
    padding: 3px 10px;
    margin: 10px;
    display: block;
    width: fit-content;
}

.nasajit-badge-active {
    background-color: #b82025;
    color: #fff !important;
}


a, a:hover {
    text-decoration: none;
}

.product-price {
    font-size: 14px;
    border: 1px solid #b82025;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    padding: 3px 6px;
    width: fit-content;
    border-left: none;
}

.add-to-cart {
    font-size: 14px;
    width: fit-content;
    background-color: #28a745;
    color: white;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    padding: 3px 6px;
    border: 1px solid #28a745;
}

.nasajit-top-right-icon {
    position: absolute;
    top: 15px;
    right: 15px;
    color: #fff;
}

.nasajit-sale-title {
    background-color: #b82025;
    color: white;
    padding: 5px 15px;
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
}

.nasajit-underline-title h2 {
    font-size: 16px;
}

.nasajit-underline-title p {
    font-size: 14px;
}

.nasajit-underline-title hr {
    color: #b82025;
}

.nasajit-sale-price-container {
    border: 1px solid #b82025;
    width: fit-content;
}

.nasajit-sale-percent {
    background-color: #b82025;
    color: white;
    transform: scale(1.2)
}

del {
    font-size: 12px;
}

.nav-link {
    display: block;
    padding: 0.5rem 0.5rem;
}

.nasajit-remove-from-favorites {
    font-size: 14px;
    background: #b82025;
    color: white;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    padding: 3px 6px;
    border: 1px solid #b82025;
}

.nasajit-header .nav-pills .nav-link {
    color: white;
    font-size: 14px;
    padding: 0.5rem 1rem;
}

.nasajit-header .nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #b82025;
    background-color: #ffffff;
}

.nasajit-search-container {
    background-image: url("../images/search-background.jpg");
    color: #fff;
    padding: 20px;
    background-size: cover;
}

.nasajit-product-attribute {
    border: 1px solid #6c757d45;
    font-size: 14px;
}

.nasajit-product-attribute div {
    color: white;
    transform: scale(1.1);
    font-size: 14px
}

p {
    font-size: 14px;
}

h2 {
    font-size: 16px;
}

.nasajit-faq span {
    text-decoration: none;
    color: #757575;
}

/*style for vue notification*/

.vue-notification {
    margin: 0 5px 5px;
    font-size: 18px;
    color: #ffffff;
    background: #44A4FC;
    border-left: 5px solid #187FE7;
    position: fixed;
    left: 20px;
    bottom: 20px;
    z-index: 1000;
    width: auto;
    height: auto;
    padding: 20px;
    text-align: center;
}

.vue-notification.warn {
    background: #ffb648;
    border-left-color: #f48a06;
}

.vue-notification.error {
    background: #E54D42;
    border-left-color: #B82E24;
}

.vue-notification.success {
    background: #68CD86;
    border-left-color: #42A85F;
}

.page-enter-active, .page-leave-active {
    transition: opacity .5s;
}

.page-enter, .page-leave-to {
    opacity: 0;
}

.sticky {
    position: fixed;
    top: 10px;
    max-width: 20%;
}

.nasajit-search-container .form-control:focus {
    color: #495057;
    background-color: #fff;
    border: none;
    outline: 0;
    box-shadow: none;
}

.nasajit-header i {
    margin-left: 5px;
}

.i-nasajit-size {
    font-size: 1.5em;
}

h3 {
    font-size: 14px;
}

.btn-manatile {
    color: #fff;
    background-color: #B82025;
    border-color: #B82025;
}
/*
media queries
*/

@media screen and (min-width: 768px) {
    .nasajit-search, .auth-form {
        width: 60%;
    }
}

@media screen and (max-width: 576px) {
    .nasajit-link .active {
        background-color: #b820251f;
        border-bottom: 4px solid #b82025;
        border-right: none;
    }

    .nav-link p {
        margin-top: 0;
        margin-bottom: 0;
    }

    .vue-notification {
        left: 10px;
        bottom: 100px;
        font-size: 12px;
        padding: 5px;
    }

    td.important-cell {
        min-width: 160px;
    }
}

@media (min-width: 1200px) {
    .container {
        max-width: 1250px;
    }
}