<template>
    <div>
        <div v-for="inputError in inputErrors" class="alert alert-danger mt-2 nasajit-border" role="alert">
            {{inputError}}
        </div>
    </div>
</template>

<script>
    export default {
        name: "InputError",
        props: ['inputErrors'],
    }
</script>

<style scoped>

</style>