<template>
    <div class="col-sm-4 col-6 mt-2">
        <div class="card nasajit-border shadow-sm">
            <i class="fas fa-clone nasajit-top-right-icon"></i>
            <nuxt-link :to="'/products/search?query='+ title.split(' ')[3]">
                <img :src="image" class="card-img-top p-1 nasajit-border" alt="...">
            </nuxt-link>
            <div class="card-body p-1">
                <nuxt-link :to="'/products/search?query='+ title.split(' ')[3]">
                    <p class="card-title m-1">{{title}}</p>
                </nuxt-link>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: "FamilyCard",
        props: ['title', 'image']
    }
</script>

<style scoped>

</style>