<template>
    <div class="col-sm-4 col-6 mt-3">
        <div class="card nasajit-border shadow-sm">
            <i @click="addToFavorites" v-if="$store.getters['auth/isAuth']"
               class="far fa-heart nasajit-top-right-icon"></i>
            <nuxt-link :to="'/products/'+url">
                <img :src="image" class="card-img-top p-1 nasajit-border" alt="...">
            </nuxt-link>
            <div class="card-body p-1">
                <nuxt-link :to="'/products/'+url">
                    <p class="card-title m-1">{{title}}</p>
                </nuxt-link>
                <hr>
                <div class="d-flex justify-content-center align-items-center">
                    <div v-if="formatted_special_price == null" class="product-price text-center">{{formatted_price}}
                    </div>
                    <div v-else class="product-price text-center">
                        <del style="font-size:12px;">{{formatted_price.split(' ')[0]}}</del>
                        {{formatted_special_price}}
                    </div>
                    <nuxt-link to="/">
                        <div @click.prevent="addToCart" class="add-to-cart text-center">
                            <i class="fas fa-cart-plus"></i>
                            سفارش
                        </div>
                    </nuxt-link>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: "ProductCard1",
        props: ['id', 'image', 'title', 'price', 'url', 'formatted_price', 'formatted_special_price'],
        methods: {
            addToCart() {
                this.$store.dispatch('cart/addToCart', {
                    id: this.id,
                    count: 1,
                    image: this.image,
                    title: this.title,
                    price: this.price,
                    formatted_price: this.formatted_price,
                    formatted_special_price: this.formatted_special_price
                })
            },
            addToFavorites() {
                this.$store.dispatch('products/addToFavorites', this.id)
            }
        }
    }
</script>

<style scoped>

</style>