<template>
    <div class="card mb-3 nasajit-border shadow-sm">
        <div class="row no-gutters d-flex justify-content-between">
            <div class="col-md-4 flex-column align-items-center pr-3 pl-3 pb-3">
                <div class="nasajit-sale-title text-center">فروش ویژه</div>
                <img :src="saleProduct.image" class="card-img nasajit-border shadow-sm mt-2">
            </div>
            <div class="col-md-5">
                <div class="card-body pt-5 d-flex flex-column justify-content-center">
                    <underline-title :title="saleProduct.title"
                                     :description="saleProduct.description" />
                </div>
            </div>
            <div class="col-md-3 d-flex flex-column justify-content-around">
                <sales-price :price="saleProduct.price"
                             :discount="saleProduct.discount"
                             :salePrice="saleProduct.salePrice"
                             :saleFormattedPrice="saleProduct.saleFormattedPrice"
                />
                <button class="btn btn-success nasajit-border mr-2" @click.prevent="showProducts">مشاهده محصولات</button>
            </div>

        </div>
    </div>
</template>

<script>
    import UnderlineTitle from "../titles/UnderlineTitle";
    import SalesPrice from "../sales-price/SalesPrice";
    export default {
        name: "ProductSale",
        components: {SalesPrice, UnderlineTitle},
        props: ['saleProduct'],
        methods:{
            showProducts() {
                this.$router.push(this.saleProduct.route);
            }
        }
    }
</script>

<style scoped>

</style>