<template>
    <div class="col-sm-6 mt-3">
        <div class="card nasajit-border shadow-sm">
            <div class="row">
                <div class="col-md-5">
                    <nuxt-link :to="'/products/'+product.url_key">
                        <img :src="product.base_image.small_image_url" class="card-img nasajit-border shadow-sm m-2">
                    </nuxt-link>
                </div>
                <div class="col-md-7 d-flex flex-column justify-content-around align-content-center">
                    <nuxt-link :to="'/products/'+product.url_key">
                        <p>{{product.name}}</p>
                    </nuxt-link>
                    <p class="text-center">{{product.formated_price}}</p>
                    <div class="d-flex flex-row align-items-end justify-content-center mt-1 mb-1">
                        <button class="nasajit-remove-from-favorites" @click.prevent="removeFromFavorites">حذف</button>
                        <button class="add-to-cart" @click.prevent="addToCart">افزودن به سبد خرید</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import UnderlineTitle from "../titles/UnderlineTitle";

    export default {
        name: "ProductFavorite",
        components: {UnderlineTitle},
        props: ['product'],
        methods: {
            removeFromFavorites() {
                this.$store.dispatch('products/removeFromFavorites', this.product.id);
            },
            addToCart() {
                this.$store.dispatch('cart/addToCart', {
                    id: this.product.id,
                    count: 1,
                    image: this.product.base_image.medium_image_url,
                    title: this.product.name,
                    price: this.product.price,
                    formatted_price: this.product.formatted_price
                })
            }
        }
    }
</script>

<style scoped>

</style>