<template>
    <div class="shadow nasajit-border p-2 mb-5" v-infinite-scroll="loadMore" infinite-scroll-disabled="busy"
         infinite-scroll-distance="0">
        <product-badges/>
        <div class="row">
            <product-card1 v-for="product in products"
                           :key="product.id"
                           :id="product.id"
                           :image="product.base_image.medium_image_url"
                           :title="product.name"
                           :price="product.price"
                           :formatted_price="product.formated_price"
                           :formatted_special_price="product.formated_special_price"
                           :url="product.url_key"
            />
            <div class="alert alert-success nasajit-border" v-if="busy">
                در حال بارگذاری مطالب بیشتر
            </div>
        </div>
    </div>
</template>

<script>
    import ProductCard1 from "../../components/product-card/ProductCard1";
    import ProductBadges from "../../components/badges/ProductBadges";

    export default {
        name: "index",
        head: {
            title: "محصولات نساجیت - بازار آنلاین پارچه مبلی"
        },
        components: {ProductBadges, ProductCard1},
        data() {
            return {
                page: 1,
                busy: false,
                lastPage: 1000,
            }
        },
        fetch(context) {
            if (context.store.state.products.products != null) {
                return;
            }
            return context.app.$axios.$get('products?sort=created_at&order=desc&limit=12&page=1')
                .then((response) => {
                    context.store.commit('products/setProducts', response);
                });
        },
        computed: {
            products() {
                return this.$store.state.products.products;
            }
        },
        methods: {
            loadMore() {
                this.page++;
                if(this.page <= this.lastPage){
                    this.$axios.$get(`products?sort=created_at&order=desc&limit=12&page=${this.page}`)
                        .then((response) => {
                            this.lastPage = response.meta.last_page;
                            this.$store.commit('products/setLoadedProducts', response);
                            this.busy = false;
                        })
                }
            }
        }
    }
</script>

<style scoped>

</style>