<template>
    <div class="shadow nasajit-border p-2 pt-4 mb-5">
        <div class="row">
            <div class="col-md-5 d-flex flex-column align-items-center">
                <image-magnifier :src="product.base_image.medium_image_url"
                                 :src-large="product.base_image.large_image_url"/>
                <div class="m-3">
                    <carousel v-if="product.images.length > 1"
                              :autoplay="true"
                              :navigationEnabled="true"
                    >
                        <slide v-for=" image in product.images" :key="image.id">
                            <img :src="image.small_image_url">
                        </slide>
                    </carousel>
                </div>
                <button class="btn btn-success nasajit-border" @click="visible = !visible">مشاهده تصاویر در سایز اصلی</button>
                <vue-easy-lightbox
                        :visible="visible"
                        :imgs="productImages"
                        :index="index"
                        @hide="handleHide"
                ></vue-easy-lightbox>

            </div>
            <div class="col-md-7">
                <underline-title
                        :title="product.name"
                        :description="product.short_description"/>
                <product-attribute v-for="attribute in attributes"
                                   :key="attribute.admin_name"
                                   :attribute="attribute.label"
                                   :value="attribute.value"/>
                <p class=" m-2 mt-3">توضیحات خرید طاقه ای</p>
                <hr class="w-50 text-secondary m-1">
                <p class="nasajit-border shadow-sm p-2">برای خرید به صورت طاقه ای مقدار متراژ در سبد خرید را یک متر وارد
                    کنید</p>
                <div class="d-flex flex-row justify-content-between align-items-center">
                    <div v-if="product.formated_special_price" class="d-flex flex-row">
                        <del class="m-2">{{product.formated_price}}</del>
                        <h4>{{product.formated_special_price}}</h4>
                    </div>
                    <div v-else>
                        <h4>{{product.formated_price}}</h4>
                    </div>
                    <button type="button" @click.prevent="addToCart" class="btn btn-success nasajit-border">افزودن به
                        سبد خرید
                    </button>
                </div>
                <hr class="w-100 text-secondary m-1">
                <div class="d-flex flex-row justify-content-between align-items-center text-secondary">
                    <div>
                        <i class="fas fa-star"></i>
                        <p class="d-inline-block">طراحی و کیفیت برتر</p>
                    </div>
                    <div>
                        <i class="fas fa-sync-alt"></i>
                        <p class="d-inline-block">دو سال گارانتی</p>
                    </div>
                    <div>
                        <i class="fas fa-water"></i>
                        <p class="d-inline-block">قابل شستشو</p>
                    </div>
                </div>
            </div>
        </div>
        <underline-title title="توضیحات محصول" v-if="product.description !== ''"/>
        <p v-html="product.description"></p>
    </div>
</template>

<script>
    import UnderlineTitle from "../../../components/titles/UnderlineTitle";
    import ProductAttribute from "../../../components/product-attribute/ProductAttribute";
    import ImageMagnifier from "../../../components/image-magnifier";

    export default {
        name: "index",
        middleware: 'auth',
        data() {
            return {
                visible: false,
                index: 0,   // default: 0
            }
        },
        head() {
            return {
                title: this.product.name
            }
        },
        components: {ImageMagnifier, ProductAttribute, UnderlineTitle},
        asyncData(context) {
            return context.app.$axios.$get('products?url_key=\'' + context.params.name + '\'')
                .then((res) => {
                    return context.app.$axios.$get('product-additional-information/' + res.data[0].id)
                        .then((response) => {
                            return {
                                product: res.data[0],
                                attributes: response.data
                            };
                        })
                })
        },
        methods: {
            addToCart() {
                this.$store.dispatch('cart/addToCart', {
                    id: this.product.id,
                    count: 1,
                    image: this.product.base_image.medium_image_url,
                    title: this.product.name,
                    price: this.product.price,
                    formatted_price: this.product.formatted_price
                })
            },
            handleHide () {
                this.visible = false
            }
        },
        computed: {
            productImages() {
                let images = [];
                this.product.images.forEach((image) => {
                    images.push('https://nasajit-laravel.liara.run' + image.original_image_url);
                });
                return images;
            }
        }
    }
</script>

<style scoped>

</style>