<template>
    <div class="shadow nasajit-border p-2 mb-5">
        <product-sale v-for="sale in sales"
                      :key="sale.id"
                      :saleProduct="sale"
        />
    </div>
</template>

<script>
    import ProductSale from "../../../components/product-card/ProductSale";
    import {sales} from "./sales";

    export default {
        name: "index",
        head: {
            title: "فروش ویژه نساجیت - بازار آنلاین پارچه مبلی"
        },
        components: {ProductSale},
        data(){
            return {
                sales: sales
            }
        }
    }
</script>

<style scoped>

</style>