<template>
    <div class="nasajit-border shadow-sm p-4 nasajit-faq">
        {{$store.state.products.name}}
        <div class="accordion" id="accordionExample">
            <div class="card" v-for="faq in faqs" :key="faq.id">
                <div class="card-header" :id="'heading'+faq.id">
                    <h2 class="mb-0">
                        <button class="btn btn-link" type="button" data-toggle="collapse" :data-target="'#collapse'+faq.id"
                                aria-expanded="true" :aria-controls="'collapse'+faq.id">
                            <span class="badge badge-pill badge-secondary text-white">{{faq.id}}</span>
                            <span>{{faq.title}}</span>
                        </button>
                    </h2>
                </div>

                <div :id="'collapse'+faq.id" class="collapse" :aria-labelledby="'heading'+faq.id"
                     data-parent="#accordionExample">
                    <div class="card-body">
                        {{faq.answer}}
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import {faqs} from './faqs';

    export default {
        name: "index",
        head: {
            title: "سوالات متداول - نساجیت - بازار آنلاین پارچه مبلی"
        },
        data() {
            return {
                faqs: faqs
            }
        }
    }
</script>

<style scoped>

</style>