<template>
    <div class="container-fluid rtl nasajit-search-container">
        <div class="container ">
            <div class="row text-center mx-auto d-flex flex-column nasajit-search">
                <p class="mx-auto">دنبال پارچه ی خاصی هستید؟</p>
                <div class="d-flex bg-white nasajit-border">
                    <form @submit.prevent="search" class="search-form w-100 d-flex flex-row justify-content-between">
                        <input type="text" name="search" v-model="query" class="form-control nasajit-search mx-auto flex-grow-1"
                               placeholder="نام محصول مورد نظرتان را وارد کنید">
                        <button @click.prevent="search" type="submit" class="btn btn-success nasajit-border m-1 d-flex flex-row align-items-center">
                            <i class="fas fa-search d-none d-md-block mr-1"></i>
                            <span>جستجو</span>
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: "SearchContainer",
        data() {
            return {
                query: ''
            }
        },
        methods: {
            search() {
                let query = this.query.replace(' ', '-');
                this.$router.push('/products/search?query=' + query);
            }
        }
    }
</script>

<style scoped>

</style>