<template>
    <div class="nasajit-border shadow-sm p-4">
        <h2>راه حلی (درست و به موقع) برای خرید گروهی شما</h2>
        <hr class="w-50">
        <p>
            توسعه اینترنت روش‌های خرید شخصی را به کلی دگرگون کرده است. منافع حاصل از خرید اینترنتی هر روز بیشتر شده و
            رفتار مصرف کنندگان را تغییر داده است. نساجیت با استفاده از بستری امن و کارامد، امید دارد تا با ایجاد تغییر
            در الگوهای متداول خرید گروهی، فرصتی فراهم آورد تا خرده فروشان و تجار تعاملاتی بی واسطه با تولید کنندگان
            داشته باشند و علاوه بر خرید متمایز، گامی موثر در خرید کالای ایرانی و رونق اقتصاد داخلی نیز برداشته باشیم.
        </p>
        <p>
            نساجیت (Nasajit) تلفیقی از نساجی (Nasaji) ، فناوری اطلاعات (IT) و تئوری کنترل موجود (JIT) که مخفف Just in
            Time به معنی درست به موقع تشکیل شده است.
        </p>
        <p>
            در حال حاظر فروشگاه اینترنتی نساجیت در زمینه عرضه انواع پارچه مبلی به صورت متری و طاقه ای فعالیت میکند.
            فروشندگان پارچه های مبلی و تولید کنندگان محترم مبلمان خانگی می‌توانند پارچه های مورد نظر خود را در سایت و
            اپلیکیشن همراه نساجیت جستجو کرده و سفارش دهند.
        </p>
        <h2>ماموریت نساجیت</h2>
        <hr class="w-50">
        <p>
            مأموریت نساجیت ارائه راه حل های مناسب برای خرید گروهی و بدون واسطه از تولید کنندگان محصولات نساجی است.
        </p>
        <p>
            نساجیت تولیدکنندگان را قادر می سازیم که راه بازار، فروش و بهبود خدمات خود را تغییر دهند. نساجیت زیرساخت های
            تکنولوژی، تبلیغات، بازاریابی و لجستیک را برای کمک به کسب و کارها فراهم می کند تا از قدرت تکنولوژی جدید برای
            تعامل با خرده فروشان و نمایندگان خود برخوردار شوند.
        </p>
        <h2>چشم انداز نساجیت</h2>
        <hr class="w-50">
        <p>
            هدف نساجیت ساخت آینده تجارت منسوجات با بهره مندی از ابزار تکنولوژیکیست. و واقفیم که تجار و مشتریان داخلی و
            خارجی، در آینده ما را در نساجیت ملاقات خواهند کرد.
        </p>
        <p>
            در نساجیت، تعاملات تجاری و اجتماعی تجار و خرده فروشان را هروز با تولید کنندگان بیشتر میکنیم.
        </p>

    </div>
</template>

<script>
    export default {
        name: "index",
        head: {
            title: "درباره نساجیت - بازار آنلاین پارچه مبلی"
        },
    }
</script>

<style scoped>

</style>