<template>
    <div>
        <notifications group="alert"/>
        <top-header/>
        <search-container/>
        <div class="container rtl mt-4 mb-5">
            <div class="row">
                <div class="col-sm-1 nasajit-container p-0" v-if="$device.isDesktop">
                    <right-sidebar/>
                </div>
                <div :class="'nasajit-container'+ $device.isDesktop ? 'col-md-8':'col-md-12'">
                    <nuxt/>
                </div>
                <div class="col-sm-3 nasajit-container p-0" v-if="$device.isDesktop">
                    <left-sidebar/>
                </div>
            </div>
                <bottom-navigation v-if="$device.isMobile"/>
        </div>
    </div>
</template>

<style>
</style>
<script>
    import TopHeader from "../components/header/TopHeader";
    import RightSidebar from "../components/right-sidebar/RightSidebar";
    import LeftSidebar from "../components/letf-sidebar/LeftSidebar";
    import SearchContainer from "../components/search/SearchContainer";
    import BottomNavigation from "../components/bottom-navigation/BottomNavigation";

    export default {
        components: {BottomNavigation, SearchContainer, LeftSidebar, RightSidebar, TopHeader},
        middleware: 'check-auth',
        created() {
            if(this.$store.state.auth.token){
                this.$store.dispatch('auth/getUserData');
            }
        }
    }
</script>