<template>
    <div class="row fixed-bottom d-flex flex-row justify-content-between bg-light text-center nasajit-border nasajit-link shadow p-2 m-2">
        <nuxt-link to="/" class="nav-link" active-class="active" exact>
            <i class="fas fa-store d-none d-sm-block"></i>
            <p>محصولات</p>
        </nuxt-link>
        <nuxt-link to="/products/sales" class="nav-link" active-class="active" exact>
            <i class="fas fa-percentage d-none d-sm-block"></i>
            <p> فروش ویژه</p>
        </nuxt-link>
        <nuxt-link to="/account/orders" class="nav-link" active-class="active">
            <i class="fas fa-shopping-cart d-none d-sm-block"></i>
            <p>سفارشات اخیر</p>
        </nuxt-link>
        <nuxt-link to="/account/cart" class="nav-link" active-class="active">
            <i class="fas fa-shopping-cart d-none d-sm-block"></i>
            <p>
                سبد خرید
                <span class="badge badge-danger">{{cartItemsCount}}</span>
            </p>
        </nuxt-link>
    </div>
</template>

<script>
    export default {
        name: "BottomNavigation",
        computed: {
            cartItemsCount() {
                if (this.$store.state.cart.cartDetails !== null) {
                    return this.$store.state.cart.cartDetails.items.length;
                }
                return 0;
            }
        }
    }
</script>

<style scoped>

</style>