<template>
    <div class="shadow nasajit-border p-2 mb-5">
        <product-badges/>
        <div class="row">
            <family-card v-for="(family,index) in families"
                         :key="index"
                         :title="family.title"
                         :image="family.image"
            />
        </div>
    </div>
</template>

<script>
    import Logo from '~/components/Logo.vue'
    import TopHeader from "../components/header/TopHeader";
    import FamilyCard from "../components/product-card/FamilyCard";
    import ProductBadges from "../components/badges/ProductBadges";
    import {families} from "./families";

    export default {
        head: {
            title: "نساجیت - بازار آنلاین پارچه های مبلی",
            meta: [
                {
                    hid: 'google-site-verification',
                    name: 'google-site-verification',
                    content: 'XA7VkcZO8WRk2vMgarXArRAGIEq4YR85qmEVyIe4bOU'
                }
            ]
        },
        components: {
            ProductBadges,
            FamilyCard,
            TopHeader,
            Logo
        },
        data() {
            return {
                families: families
            }
        }
    }
</script>

<style>

</style>
