<template>
    <div class="nasajit-border shadow-sm p-2 mb-5">
        <underline-title title="سفارشات اخیر شما"
                         description="در زیر می توانید لیستی از سفارش های اخیر خود را مشاهده کنید"/>
        <div v-if="orders.length === 0" class="alert alert-danger mt-2">شما تاکنون هیچ سفارشی را ثبت نکرده اید</div>
        <table v-else class="table table-bordered table-hover table-responsive-sm text-center mt-4">
            <thead class="nasajit-border text-center">
            <tr class="text-center">
                <th scope="col" class="text-center">شناسه</th>
                <th scope="col" class="text-center">تاریخ سفارش</th>
                <th scope="col" class="text-center">مبلغ سفارش</th>
                <th scope="col" class="text-center">وضعیت</th>
                <th scope="col" class="text-center">عملیات</th>
            </tr>
            </thead>
            <tbody>
            <tr v-for="(order,index) in orders" :key="order.id">
                <th scope="row" class="text-center align-middle">{{order.id}}</th>
                <td class="align-middle">{{toJalaliDate(order.created_at.date)}}</td>
                <td class="align-middle">{{order.formated_grand_total}}</td>
                <td class="align-middle pt-1 pb-1 important-cell">
                    <span v-if="order.status === 'pending'" class="alert alert-warning">در حال بررسی</span>
                    <span v-if="order.status === 'canceled'" class="alert alert-danger">لغو شده</span>
                    <span v-if="order.status === 'processing'" class="alert alert-primary">در حال پردازش</span>
                </td>
                <td class="align-middle d-flex flex-column justify-content-between important-cell">
                    <order-details :order="order" @addToCart="addToCart(order.items)"/>
                    <button @click.prevent="addToCart(order.items)"
                            class="btn btn-outline-success btn-block nasajit-border mt-1">
                        <i class="fas fa-cart-plus"></i>
                        سفارش مجدد
                    </button>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</template>

<script>
    import UnderlineTitle from "../../../components/titles/UnderlineTitle";
    import OrderDetails from "../../../components/order-details/OrderDetails";
    import jalaali from 'jalaali-js';

    export default {
        name: "index",
        middleware: 'auth',
        components: {OrderDetails, UnderlineTitle},
        head: {
            title: "سفارشات شما در نساجیت - بازار آنلاین پارچه مبلی"
        },
        computed: {
            isAuth() {
                return this.$store.getters['auth/isAuth'];
            },
            orders() {
                return this.$store.state.auth.orders;
            }
        },
        fetch(context) {
            if (context.app.store.getters['auth/isAuth']) {
                return context.app.$axios.$get('orders', {
                    params: {
                        token: context.store.state.auth.token,
                        customer_id: context.store.state.auth.userData.id
                    }
                })
                    .then((response) => {
                        context.app.store.commit('auth/setOrders', response);
                    })
            }

        },
        methods: {
            addToCart(orderItems) {
                orderItems.forEach((el) => {
                    this.$store.dispatch('cart/addToCart', {
                            id: el.id
                        }
                    )
                })
            },
            toJalaliDate(date) {
                let georgianDate = date.split(' ')[0].split('-');
                let jalaliDate = jalaali.toJalaali(
                    parseInt(georgianDate[0]),
                    parseInt(georgianDate[1]),
                    parseInt(georgianDate[2]),
                );
                return `${jalaliDate.jy}/${jalaliDate.jm}/${jalaliDate.jd}`;
            }
        }
    }
</script>

<style scoped>

</style>