<template>
    <div class="d-flex flex-column align-items-center">
        <div class="nasajit-sale-price-container nasajit-border text-center m-3 d-flex">
            <div class="nasajit-sale-percent rounded-circle text-center p-2">{{discount}}</div>
            <div class="p-2">تخفیف ویژه</div>
        </div>
        <del>{{price}}</del>
        <span>{{saleFormattedPrice}}</span>
    </div>
</template>

<script>
    export default {
        name: "SalesPrice",
        props:['price','discount','salePrice','saleFormattedPrice']
    }
</script>

<style scoped>

</style>